body {
    margin: 0;
}

.content {
    padding: 3% 7%;
}

.banner {
    position: relative;
    height: 450px;
    overflow: hidden;
    background: #000;
}
    .banner img {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 1200px;
        height: 600px;
        margin: 0 0 0 -600px;
        -webkit-transform: translate3(0,0,0);
    }